<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freelife.repository.mybatis.MemberMapper">

    <resultMap id="member" type="Member">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="nickName" column="nick_name"/>
        <result property="age" column="age"/>
        <result property="password" column="password" typeHandler="CryptoHandler"/>
        <result property="encPassword" column="enc_password" typeHandler="CryptoNoDecHandler"/>
    </resultMap>

    <resultMap id="memberNoEnc" type="MemberNoEnc">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="nickName" column="nick_name"/>
        <result property="age" column="age"/>
        <result property="password" column="password"/>
        <result property="encPassword" column="enc_password"/>
    </resultMap>

    <insert id="save" parameterType="Member" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO member (name, nick_name, age, password, enc_password)
        VALUES (
                #{member.name},
                #{member.nickName},
                #{member.age},
                #{member.password, typeHandler=CryptoHandler},
                #{member.encPassword, typeHandler=CryptoNoDecHandler}
               )
    </insert>

    <insert id="saveAll" parameterType="list">
        INSERT INTO member (name, nick_name, age, password, enc_password)
        VALUES
        <foreach collection="list" index="index" item="member" separator=",">
            (
            #{member.name},
            #{member.nickName},
            #{member.age},
            #{member.password, typeHandler=CryptoHandler},
            #{member.encPassword, typeHandler=CryptoNoDecHandler}
            )
        </foreach>
    </insert>

    <insert id="saveAllNoEnc" parameterType="list">
        INSERT INTO member_no_enc (name, nick_name, age, password, enc_password)
        VALUES
        <foreach collection="list" index="index" item="member" separator=",">
            (
            #{member.name},
            #{member.nickName},
            #{member.age},
            #{member.password},
            #{member.encPassword}
            )
        </foreach>
    </insert>

    <select id="findAll" parameterType="int" resultMap="member">
        SELECT id, name, nick_name, age, password, enc_password
        from member limit ${limit}
    </select>

    <select id="findAllNoEnc" parameterType="int" resultMap="memberNoEnc">
        SELECT id, name, nick_name, age, password, enc_password
        from member_no_enc limit ${limit}
    </select>

    <select id="findById" parameterType="long" resultMap="member">
        SELECT id, name, nick_name, age, password, enc_password
        from member where id = #{id}
    </select>

    <update id="update" parameterType="Member">
        UPDATE member
        SET name = #{member.name},
            nick_name = #{member.nickName},
            age = #{member.age},
            password = #{member.password, typeHandler=CryptoHandler},
            enc_password = #{member.encPassword, typeHandler=CryptoNoDecHandler}
        WHERE id = #{member.id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM member WHERE id = #{id}
    </delete>
</mapper>